@model ML.Disco
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Discos Registrados</h2>
</div>
<a class="btn btn-success" href="@Url.Action("Form", "Disco")">Agregar Disco</a>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>IdDisco</th>
                <th>Titulo</th>
                <th>Duracion</th>
                <th>Anio</th>
                <th>Distribuidora</th>
                <th>Ventas</th>
                <th>Disponibilidad</th>
                <th>Id Artista</th>
                <th>Nombre Artistico</th>
                <th>Id Genero Musical</th>
                <th>Nombre Genero Musical</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Disco disco in Model.Discos)
            {
                <tr>
                    <td>@disco.IdDisco</td>
                    <td>@disco.Titulo</td>
                    <td>@disco.Duracion</td>
                    <td>@disco.Anio</td>
                    <td>@disco.Distribuidora</td>
                    <td>@disco.Ventas</td>
                    <td>@disco.Disponibilidad</td>
                    <td>@disco.Artista.IdArtista</td>
                    <td>@disco.Artista.NombreArtistico</td>
                    <td>@disco.GeneroMusical.IdGeneroMusical</td>
                    <td>@disco.GeneroMusical.Nombre</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Form", "Disco", new {IdDisco = disco.IdDisco})">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Disco", new {IdDisco = disco.IdDisco})" onclick="return confirm('EStas seguro de eliminar el disco?'); ">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
